@model MVC.Models.DTOs.UsuarioDTO.ContraseniaDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@if (TempData["Mensaje"] != null)
{
    if (TempData["Exito"] != null && (bool)TempData["Exito"] == false)
    {
        <div class="alert alert-danger">
            @TempData["Mensaje"]
        </div>
    }
}
<h4>ContraseniaDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="ListadoDeUsuarios" asp-controller="Administrador">Volver</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
